<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
    <div th:if="${userIsAdded} == true">
        <h1  th:text="'Ура! Пользователь ' + ${name} + ' был добавлен' " ></h1>
        <a th:href="@{/main}">Вернуться на главную страницу</a>
    </div>

    <div th:if="${userIsAdded} == false">
        <h1  th:text="'Увы! Пользователь ' + ${name} + ' не был добавлен' " ></h1>
        <a th:href="@{/registration}" >  Попробовать снова </a>
    </div>




</body>
</html>