<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Неуспешное добавление пользователя</title>
</head>
<body>
    <h1 th:if="userIsAdd == true" th:text="'Ура! Пользователь ' + ${name} + ' был добавлен' " ></h1>
    <div th:if="userIsAdd == false">
        <h1  th:text="'Увы! Пользователь ' + ${name} + ' не был добавлен' " ></h1>
        <a href="http://localhost:8081/registration" >  Попробовать снова </a>
        <a href=""> Войти</a>
    </div>



</body>
</html>