<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
</head>
<body>
    <h2 th:text="'Пользователь ' + ${user.nickname}"></h2>
    <p th:text="'Возраст: ' + ${user.age}"></p>
    <p th:text="'Информация о себе ' + ${user.informationAbout}"></p>

    <table th:if="${notesNotEmpty} == true">
        <tr>
            <th>Имя заметки</th>
            <th>Дата создания</th>
            <!--                <th></th>-->
            <!--                <th></th>-->
            <!--                <th></th>-->
        </tr>
        <tr th:each="note:${publicNotes}">
            <td th:text="${note.name}"></td>
            <td th:text="${note.dateOfCreating}"></td>
            <td><a th:href="@{'/notes/get/' + ${note.id}}"> посмотреть </a>  </td>

        </tr>

    </table>

    <a th:href="@{/main}">вернуться на главную страницу</a>
</body>
</html>