<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
        <h1>Сайт для заметок</h1>
        <div th:if="${isAuthenticated} == false">
            <a th:href="@{/login}"> войти</a>
            <a th:href="@{/registration}">зарегестрироваться</a>
        </div>

        <div th:if="${isAuthenticated} == true">
            <h2  th:text="'Здравствуйте, ' + ${name} + '!'"></h2>
            <a th:href="@{/logout}">выйти из профиля</a>

            <h3>Заметки:</h3>
            <a th:href="@{/notes}">Посмотреть все заметки</a>

            <h3>Профили:</h3>
            <div><a th:href="@{/users/get}">Просмотреть свой профиль</a></div>
            <a th:href="@{/users/find}">Искать других пользователей</a>
        </div>


</body>
</html>