<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >Список заметок</title>
</head>
<body>
        <table th:if="${notesNotEmpty} == true">
            <tr>
                <th>Имя заметки</th>
                <th>Дата создания</th>
<!--                <th></th>-->
<!--                <th></th>-->
<!--                <th></th>-->
            </tr>
            <tr th:each="note:${notes}">
                <td th:text="${note.name}"></td>
                <td th:text="${note.dateOfCreating}"></td>
                <td><a th:href="@{'/notes/get/' + ${note.id}}"> посмотреть </a>  </td>
                <td><a th:href="@{'/notes/update/' + ${note.id}}"> изменить </a>  </td>
                <td><a th:href="@{'/notes/delete/' + ${note.id}}"> удалить </a>  </td>
            </tr>

        </table>
        <p th:if="${notesNotEmpty} == false"> Пока что у вас нет заметок... </p>
        <a th:href="@{/notes/create}" > создать новую заметку</a>
        <a th:href="@{/notes/delete/all}" > удалить все заметки</a>
        <a th:href="@{/main}">вернуться на главную страницу</a>

</body>
</html>