<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Обновление заметки</title>
</head>
<body>
<form action="#" th:action="@{/notes/update}" th:object="${note}" method="post">

  <p>Измените те поля, которые вам нужно изменить, а остальные оставте без изменений</p>
  <label for="name">Введите новое название заметки: <input type="text"  th:field="*{name}" id="name">  </label>
  <p>Станет ли заметка общедоступной?</p>
  <div><label for="isPublicT"> <input type="radio" name="isPublic" th:field="*{isPublic}" id="isPublicT" value="true" /> да</label></div>
  <div><label for="isPublicF"><input type="radio" name="isPublic" th:field="*{isPublic}" id="isPublicF" value="true" checked /> нет </label></div>
  <div><label for="text">Новый текст заметки: </label></div>
  <p></p>
  <div><input type="text" size="30" th:field="*{text}" id="text" /></div>
  <div><input type="submit" value="готово" /></div>

</form>
</body>
</html>